@use './reset.scss' as *;
@use './typography.scss' as *;
@use './mixins.scss' as *;
@use './helpers.scss' as *;
@use './variables.scss' as *;

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

:root {
  --white: #ffffff;
  --black: #0b0b0c;

  --blue: #2da5d9;
  --light-blue: #e9f0f2;
  --logo-blue: #6cd1f4;

  --gray: #bfbfbf;
  --light-gray: #d0d0d0;
  --light-gray-alt: #e5e5e5;

  --dark-gray: #323232;
  --dark-gray-alt: #797979;

  // GLOBAL CONFIG VARIABLES
  --header-height: 139px;

  --rounded-xl: 30px;
  --section-gap: 160px;

  @include lg {
    --section-gap: 100px;
  }

  @include md {
    --rounded-xl: 20px;
    --section-gap: 60px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark theme */
  }
}

html {
  scroll-behavior:smooth
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;

  scroll-behavior: smooth;

  @include xl {
    line-height: 20.8px;
  }

  @include md {
    --header-height: 126px;
  }
  @include sm {
    --header-height: 99px;
  }
}

main {
  padding-top: var(--header-height);

  display: flex;
  flex-direction: column;
  row-gap: var(--section-gap);
}

.container {
  width: 100%;
  max-width: 1288px;
  padding-inline: 24px;
  margin: 0 auto;

  @include md {
    padding-inline: 16px;
  }
}

em {
  color: var(--blue);
}

strong {
  font-weight: 700;
}

hr {
  display: block;
  border: 1px solid var(--light-gray-alt);
}

// hide reCAPTCHA icon
.grecaptcha-badge {
  visibility: hidden;
}

dialog {
  margin: auto;
  padding: 0;
  border: none;
  background: none;

  &::-webkit-scrollbar {
    width: 0.5em;
    transform: translateX(-0.5em);
  }
  
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray-alt);
    border-radius: 8px;
  }
}

::backdrop {
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
}
