@use './mixins.scss' as *;

h1,
.h1 {
  font-weight: 700;
  font-size: clamp(38px, -0.875rem + 8.333vw, 58px);
  line-height: 110%;

  @include lg() {
    line-height: 100%;
  }
}

h2,
.h2 {
  font-weight: 700;
  font-size: clamp(28px, -0.875rem + 6.833vw, 50px);
  line-height: 110%;

  @include lg() {
    line-height: 120%;
  }
}

h3,
.h3 {
  font-weight: 700;
  font-size: clamp(24px, -0.875rem + 6.233vw, 42px);
  line-height: 110%;

  @include lg() {
    line-height: 120%;
  }
}

h4,
.h4 {
  font-weight: 700;
  font-size: clamp(18px, -0.875rem + 4.933vw, 38px);
  line-height: 110%;

  @include lg() {
    line-height: 130%;
  }
}

h5,
.h5 {
  font-weight: 700;
  font-size: clamp(18px, -5.272rem + 12.027vw, 24px);
  line-height: 130%;

  @include lg() {
    font-weight: 500;
    line-height: 120%;
  }
}
