@use '../styles/mixins' as *;

.sectionHelpWrapper {
  background-color: var(--light-blue);
}

.wrapperSectionHowWeWork {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 60px;

    @include md {
      margin-top: 40px;
    }
  }
}