@use '../styles/mixins' as *;

.sectionHelpWrapper {
  background-color: var(--light-blue);
}

.componentSectionHowWeWork {
  header {
    max-width: 600px;
    text-align: center;
  }
}

.wrapperSectionHowWeWork {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 60px;

    @include md {
      margin-top: 40px;
    }
  }
}