@use '../../../styles/mixins.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  @include sm {
    row-gap: 60px;
  }

  .first {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-top: 60px;

    @include md {
      gap: 12px;
    }

    @include rwd(767.9) {
      grid-template-columns: 1fr;
      gap: 54px;
    }

    .item {
      --item-pt: 24px;
      --item-title-pt: 10px;
      --item-title-size: clamp(52px, -0.875rem + 8.333vw, 80px);

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      border: 1px solid var(--gray);
      border-radius: var(--rounded-xl);
      padding: var(--item-pt) 40px;
      padding-right: 30px;
      min-height: 176px;

      @include md {
        padding-left: 30px;
        padding-bottom: 20px;
        padding-right: 10px;
      }

      .title {
        $calcOut: calc(
          var(--item-title-size) / 2 + var(--item-pt) + var(--item-title-pt)
        );

        background-color: var(--white);
        padding: var(--item-title-pt);
        color: var(--blue);
        margin-top: calc($calcOut * -1);

        h5 {
          font-weight: 900;
          font-size: var(--item-title-size);
          line-height: 1;
          text-wrap: nowrap;
        }

        user-select: none;
      }

      .text {
        color: var(--dark-gray);
        font-weight: 500;
      }
    }
  }

  .second {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 26px;

    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 40px 67px;

    @include rwd(1024) {
      padding: 40px 30px;
    }

    @include rwd(767.9) {
      grid-template-columns: 198px 1fr;
    }

    header {
      position: relative;
      flex: 0 1 fit-content;

      h2 {
        position: relative;
        z-index: 1;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

        @include rwd(767.9) {
          height: initial;
        }
      }
    }

    .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense;
      column-gap: 80px;

      .listItem {
        display: flex;
        align-items: baseline;
        margin-bottom: 20px;

        column-gap: 14px;
      }

      .listItemContent {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }

      @include rwd(1024) {
        column-gap: 40px;
      }
      @include md {
        column-gap: 30px;
      }
    }

    @include md {

    }

    @include sm {
      grid-template-columns: 1fr;

      header {
        height: 128px;
      }

      .list {
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: 32px;

        .listItem {
          align-items: flex-start;
          column-gap: 12px;
        }

        .listItemContent {
          column-gap: 10px;
        }
      }
    }
  }
}
