@use "../../styles/mixins.scss" as *;

/* Header styles */
.header {
  position: absolute;
  width: 100%;
  height: var(--header-height);
  top: 0;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  display: flex;
  gap: 35px;

  .navLink {
  }
}


/* Dropdown */
.dropdown {
  position: relative;
  display: flex;
  align-items: center;

  .dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    flex-direction: column;
    row-gap: 12px;
    padding: 20px;
    min-width: fit-content;
    text-wrap: nowrap;
    background-color: var(--light-blue);
    color: var(--dark-gray);
    border-radius: 10px;

    li {
      display: inline-flex;
      width: 100%;

      a {
        width: 100%;
        line-height: 22.4px;
      }

      &:hover {
        a {
          text-decoration: underline;
        }
      }
    }
  }

  &:hover {
    .caretDown {
      transform: rotate(180deg);
    }

    .dropdownMenu {
      display: flex;
    }
  }
}

.caretDown {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

@include md {
  .nav {
    display: none;
  }
}

@include sm {
  .logo img {
    width: 50px;
    height: 73px;
  }

  .navLink {
    font-size: 14px;
  }

  .caretDown {
    width: 20px;
    height: 20px;
  }
}
