@use "../../styles/mixins.scss" as *;

/* Header styles */
.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  top: 0;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;

  &.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

@include md {
  .nav {
    display: none;
  }
}

@include sm {
  .logo img {
    width: 50px;
    height: 73px;
  }

  .navLink {
    font-size: 14px;
  }
}
