.sectionMoreCases {
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  margin-bottom: 160px;
}

.sectionHelpWrapper {
  background-color: var(--light-blue);
  margin-bottom: 160px;
}

.sectionFormWrapper {
  margin-bottom: 160px;
}