.card {
  display: grid;
  grid-template-columns: 1fr 40px;
  border: 1px solid var(--gray);
  border-radius: var(--rounded-xl);
  padding: 30px;

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .info {

  }

  a {
    padding: 0;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
