@use '../../../styles/mixins.scss' as *;

.sectionWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.vacancies {
  display: grid;
  grid-template-columns: 316px 1fr;
  gap: 24px;

  @include md {
    grid-template-columns: 1fr;
  }

  .vacanciesFilters {
    border: 1px solid var(--gray);
    border-radius: var(--rounded-xl);
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-height: fit-content;

    .skeletonFilter {
      padding-bottom: 16px;
      border-bottom: 1px solid var(--gray);
    }


    .filterActions {
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      button {
        width: 100%;
        justify-content: center;
      }
    }
  }

  .vacanciesList {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
