.btn {
  // Button default variables
  --btn-text-color: var(--white);
  --btn-bg-color: var(--blue);
  --btn-border-color: transparent;
  --btn-paddings: 10px 20px;
  --btn-font-size: 14px;
  --btn-rounded: 25px;

  // Icon default variables
  --icon-width: 28px;
  --icon-height: 28px;
  --icon-bg-color: var(--white);
  --icon-arrow-color: var(--blue);

  // Base styles
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--btn-border-color);
  border-radius: var(--btn-rounded);
  padding: var(--btn-paddings);
  font-size: var(--btn-font-size);
  line-height: 1;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  cursor: pointer;
  transition: all 0.377s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:disabled {
    cursor: unset;
  }

  // Size modifiers
  &.lg {
    --btn-paddings: 14px 20px;
    --btn-font-size: 16px;
  }

  // Primary button styles
  &.primary {
    --btn-text-color: var(--white);
    --btn-bg-color: var(--blue);

    &:not(:disabled) {
      &:hover {
        --btn-text-color: var(--blue);
        --btn-bg-color: var(--white);
        --btn-border-color: var(--blue);
  
        --icon-bg-color: var(--blue);
        --icon-arrow-color: var(--white);
      }

      &:active {
        --btn-text-color: var(--white);
        --btn-bg-color: var(--blue);
      }
    }

    &:disabled {
      --btn-text-color: var(--dark-gray-alt);
      --btn-bg-color: var(--light-gray);
      --btn-border-color: var(--light-gray);
      --icon-arrow-color: var(--light-gray);
    }
  }

  // Secondary button styles
  &.secondary {
    --btn-text-color: var(--blue);
    --btn-bg-color: var(--white);
    --btn-border-color: var(--blue);

    --icon-bg-color: var(--blue);
    --icon-arrow-color: var(--white);

    &:not(:disabled) {
      &:hover {
        --btn-text-color: var(--white);
        --btn-bg-color: var(--blue);
        --btn-border-color: transparent;

        --icon-bg-color: var(--white);
        --icon-arrow-color: var(--blue);
      }

      &:active {
        --btn-text-color: var(--blue);
        --btn-bg-color: var(--white);
        --btn-border-color: var(--blue);
      }
    }

    &:disabled {
      --btn-text-color: var(--dark-gray-alt);
      --btn-bg-color: var(--white);
      --btn-border-color: var(--gray);
      --icon-arrow-color: var(--white);
      --icon-bg-color: var(--light-gray);
    }
  }

  // Default button additional styles
  &.default {
    @extend .secondary;
    --btn-rounded: 10px;
    --btn-paddings: 8px 20px;
  }

  // With icon styles
  &.withIcon {
    --btn-paddings: 6px 24px 6px 6px;

    span {
      padding-top: 2px;
    }

    svg {
      max-width: var(--icon-width);
      max-height: var(--icon-height);
    }

    &.lg {
      --btn-paddings: 6px 40px 6px 6px;
      --icon-width: 38px;
      --icon-height: 38px;
    }
  }

  &.iconRight {
    flex-direction: row-reverse;
    --btn-paddings: 6px 6px 6px 18px;

    &.lg {
      --btn-paddings: 6px 6px 6px 32px;
    }
  }

  &.contentCenter {
    justify-content: center;
  }
}

.btn.text {
  --btn-text-color: var(--blue);
  --btn-bg-color: transparent;
  --icon-bg-color: transparent;
  --icon-arrow-color: var(--blue);
  
  --btn-paddings: 0;
}