@use '../../../styles/mixins.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  row-gap: 52px;

  border-radius: 20px;
  padding: 20px;
  background-color: var(--light-blue);
  width: 100%;
  max-width: 187px;

  @include sm {
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: initial;
    padding: 10px;
  }

  span:first-child {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--blue);
    width: 70px;
    height: 70px;
    border-radius: 50%;

    @include sm {
      width: 52px;
      height: 52px;
    }
  }

  .socialName {
    color: inherit;
    text-transform: capitalize;
  }
}
