@use "./reset.scss" as *;
@use "./typography.scss" as *;
@use "./mixins.scss" as *;
@use "./helpers.scss" as *;
@use "./variables.scss" as *;

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

:root {
    --white: #ffffff;
    --black: #0b0b0c;

    --blue: #2da5d9;
    --light-blue: #e9f0f2;
    --logo-blue: #6cd1f4;

    --gray: #bfbfbf;
    --light-gray: #d0d0d0;
    --light-gray-alt: #e5e5e5;

    --dark-gray: #323232;
    --dark-gray-alt: #797979;

    --header-height: 139px;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* dark theme */
    }
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;

    @include xl {
        line-height: 20.8px;
    }

    @include md {
        --header-height: 126px;
    }
    @include sm {
        --header-height: 99px;
    }
}

// remove
main {
    padding-top: var(--header-height);
}

.container {
    width: 100%;
    max-width: 1288px;
    padding-inline: 24px;
    margin: 0 auto;

    @include md {
        padding-inline: 16px;
    }
}

em {
    color: var(--blue);
}

hr {
    display: block;
    border: 1px solid var(--light-gray-alt);
}
