@use '../../../styles/mixins.scss' as *;

.sectionMeet {
  // padding: 160px 0;

  .sectionMeetGallery {
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 292px);
    gap: 20px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @include rwd(1024) {
      grid-template-rows: repeat(3, 171px);
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 158px);
    }

    > div {
      position: relative;
      border-radius: var(--rounded-xl);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(2) img {
        border-radius: 50%;
        overflow: hidden;

        @include md {
          width: 100%;
          height: 100%;
        }
      }
    }

    .galleryCard {
      background-color: var(--light-blue);
      
      padding: 20px;
      display: flex;
      align-items: flex-end;

      @include lg {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;
        padding: 7px 20px 20px 12px;
      }
    }

    div:nth-child(5) {
      grid-column: 1 / 4;
      grid-row: 2 / 4;

      @include md {
        grid-column: 1 / 3;
        grid-row: 3;
      }
    }
  }
}