.completeTaskSection {
  display: flex;
  flex-direction: column;
  row-gap: 60px;

  header {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 50%;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(238px, 1fr);
    gap: 24px;
  }

  .listItem {
    padding-top: 10px;

    span {
      color: var(--blue);
    }

    h5 {
      padding-top: 24px;
    }

    p {
      padding-top: 10px;
    }
  }
}