.container {
  display: flex;
  gap: 14px;
  cursor: pointer;
  color: #bfbfbf;

  &:hover {
    .checkWrapper {
      border-color: #0b0b0c;
    }
  }

  .checkWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 3px;

    &:has(input:checked) {
      border-color: #0b0b0c;
      background-color: #0b0b0c;

      .checkmark {
        display: inline-flex;
      }
    }
  }

  .checkmark {
    display: none;
  }

  .label {
    user-select: none;

    a {
      text-decoration: underline;
    }

    p {
      display: inline;
    }

    span {
      padding-inline: 0.4rem;
    }
  }
}
