@use '../../styles/mixins.scss' as *;

.formWrapper {
  background-color: var(--light-blue);
  border-radius: var(--rounded-xl);
  padding: 60px 40px;

  display: grid;
  grid-template-columns: 1fr 467px;

  @include lg {
    column-gap: 12px;
    padding: 40px 20px;
  }

  @include md {
    grid-template-columns: 1fr 340px;
    column-gap: 5%;
  }

  @include sm {
    grid-template-columns: 1fr;
    padding: 0;
    border: 1px solid var(--gray);
    border-radius: 30px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    min-width: 247px;

    @include rwd(901) {
      min-width: auto;
      padding-right: 20px;
    }

    @include md {
      align-items: flex-start;
      text-align: left;
      row-gap: 10px;
    }

    @include sm {
      display: none;
    }

    > * {
      z-index: 1;
      max-width: 440px;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;

      font-size: clamp(135px, 23vw, 338px);
      font-weight: 700;
      line-height: 1;
      color: var(--white);
      vertical-align: middle;
      display: inline-flex;

      @include md {
        font-size: 135px;
        left: 0;
        transform: translate(0, -50%);
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border: 1px solid var(--gray);
    border-radius: 30px;
    padding: 27px 35px;
    overflow: hidden;
    position: relative;
    background-color: inherit;

    @include md {
      border: none;
      padding: 48px 12px;
    }

    h5 {
      text-align: center;
    }
  }
}

.cvUploadBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  margin-bottom: 32px;
  margin-top: 20px;

  @include md {
    grid-template-columns: 2fr 1fr;
    & > div {
      display: block;
    }
  }

  .cvFileTypes {
    font-size: 10px;
    font-weight: 400;
    display: inline-block;
    margin-top: 2px;
    color: var(--gray);
  }

  .uploadBtn {
    justify-content: center;
    width: 143px;
    border-color: transparent;
    color: var(--dark-gray);
    grid-column: 1;
    grid-row: 2;

    @include md {
      grid-column: 2;
      grid-row: 1;
      width: 111px;
    }

    &:hover {
      border-color: var(--blue);
      color: var(--blue);
      background-color: var(--white);
    }
  }
}

.cvFileDisplay {
  grid-column: 2;
  grid-row: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 50px;
  width: 100%;
  max-width: 203px;
  border: 1px solid var(--gray);
  padding-left: 20px;
  padding-right: 12px;
  background-color: var(--white);
  color: var(--gray);

  @include md {
    grid-row: 2;
    grid-column: 1 / 3;
    max-width: 100%;
    height: 44px;
    display: flex;
  }

  .cvFileName {
    user-select: none;
    @include clampLine(1);
  }

  .cvFileRemove {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    color: initial;
    min-width: 24px;
  }
}
