@use '../../../styles/mixins.scss' as *;

.sectionFounder {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.cardFounder {
  display: flex;
  column-gap: 171px;
  background-color: var(--light-blue);
  border-radius: 40px;
  padding: 50px 80px 50px 50px;
  min-height: 460px;

  @include lg {
    column-gap: 81px;
  }

  @include md {
    flex-direction: column;
    align-items: center;
    padding: 40px 22px;
  }

  .cardFounderInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include rwd(767.9) {
      align-items: center;
      justify-content: center;
      row-gap: 12px;

      text-align: center;
    }

    .cardFounderInfoImage {
      width: 171px;
      height: 171px;
      border-radius: 50%;
      overflow: hidden;

      img {
        object-fit: cover;
        object-position: center;
      }
    }
    .cardFounderInfoName {
      margin-top: 22px;
      font-weight: 500;

      @include rwd(767.9) {
        margin-top: 12px;
      }
    }

    .cardFounderInfoPosition {
      margin-top: 2px;
    }

    .cardFounderInfoSocial {
      display: inline-flex;
      align-items: center;
      column-gap: 10px;
    }
  }

  .cardFounderContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include rwd(767.9) {
      margin-top: 60px;
      row-gap: 12px;
    }

    .cardFounderContentText {
      position: relative;
      font-weight: 400;
      z-index: 1;

      span {
        position: absolute;
        top: -60px;
        left: 32px;
        font-size: 324px;
        line-height: 1;
        color: transparent;
        z-index: -1;
        transform: translateX(-100%);

        -webkit-text-stroke: 1px var(--blue);

        @include lg {
          top: -67px;
          left: 35px;
          font-size: 281px;
        }

        @include md {
          font-size: 204px;

          top: -50px;
          left: 50px;
        }
      }
    }

    .cardFounderContentExperience {
      max-width: 350px;

      @include rwd(767.9) {
        font-size: 14px;
      }

      span {
        color: var(--blue);
      }
    }
  }
}
