@use '../../styles/mixins.scss' as *;

.sectionHeroAdvantages {
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  align-items: center;

  height: 200px;
  border: 1px solid var(--blue);
  border-radius: var(--rounded-xl);
  background-color: var(--white);
  font-weight: 400;

  .sectionHeroAdvantagesDivider {
    width: 1px;
    height: 92px;
    background-color: var(--blue);

    &:last-child {
      display: none;
    }
  }

  .sectionHeroAdvantagesItem {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding-inline: 30px;

    strong {
      display: block;

      font-size: clamp(24px, -0.875rem + 4.933vw, 38px);
      text-wrap: nowrap;
      line-height: 120%;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
    }
  }

  @include rwd(730) {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 1px 1fr;
    height: initial;
    padding-top: 30px;
    padding-bottom: 30px;

    .sectionHeroAdvantagesDivider {
      height: 50px;
      align-self: center;
      justify-self: center;
    }

    .sectionHeroAdvantagesDivider:nth-child(4) {
      grid-column: 1 / 4;
      height: 1px;
      width: 100%;
    }
  }

  @include md {
    padding: 10px;

    .sectionHeroAdvantagesItem {
      padding-inline: 10px;
    }
  }
}
