@use '../../styles/mixins.scss' as *;

.fillContainer {
  background-color: var(--light-blue);
}

.page {
  margin-top: 80px;

  @include md {
    margin-top: 60px;
  }

  @include sm {
    margin-top: 40px;
  }
}