@use '../../../styles/mixins.scss' as *;

.sectionDieFillWidth {
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  padding-top: 74px;
  padding-bottom: 74px;
  position: relative;

  @include md {
    row-gap: 18px;
    padding-top: 66px;
    padding-bottom: 66px;
  }

  *:not(img) {
    z-index: 1;
  }

  h5 {
    max-width: 607px;
    text-align: center;

    @include md {
      max-width: 328px;
    }
  }

  .bgImage {
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -0;

    @include md {
      width: 165px;
      height: 165px;
      left: 50%;
    }
  }
}