@use '../../../styles/mixins.scss' as *;

.sectionAccordion {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  .sectionAccordionContent {
    display: grid;
    grid-template-columns: 1fr 504px;
    column-gap: 20px;
    
    @include lg {
      grid-template-columns: 1fr 0.8fr;
    }
    @include md {
      grid-template-columns: 1fr;
    }
  }

  .sectionAccordionContentImage {
    position: relative;
    height: 504px;
    display: flex;
    align-items: flex-end;

    @include md {
      display: none;
    }

    button {
      z-index: 1;
    }
  }
}