@use '../../styles/mixins.scss' as *;

.page {
  margin-top: 80px;

  @include lg {
    margin-top: 60px;
  }

  @include md {
    margin-top: 50px;
  }
}

.sectionHeroVacancy {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;

  background-color: var(--light-blue);
  border-radius: 30px;
  padding: 30px;

  // LAYOUT
  .heroVacancyTitle {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  .heroVacancyDetails {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  button {
    grid-column: 4 / 5;
    grid-row: 2;
  }

  @include md {
    padding: 16px 20px;
  }

  @include sm {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 16px;

    .heroVacancyTitle {
      grid-column: initial;
      grid-row: initial;
    }
  
    .heroVacancyDetails {
      grid-column: initial;
      grid-row: initial;
    }
  
    button {
      grid-column: initial;
      grid-row: initial;
    }
  }
  // LAYOUT END

  .heroVacancyDetails {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    li {
      display: inline-flex;

      &:not(.knowledge) {
        column-gap: 10px;
        align-items: center;
      }
    }

    .knowledge {
      font-weight: 600;
    }
  }

  button {
    align-self: flex-end;
    justify-content: center;
  }
}

.sectionDescription {
  max-width: 924px;
  margin-top: 80px;

  @include lg {
    margin-top: 60px;
  }

  @include md {
    margin-top: 50px;
  }

  header h4 {
    margin-bottom: 20px;
  }

  .content {
    margin-top: 40px;

    // move to typography markdown style
    ul {
      list-style: disc;
      padding-left: 20px;
    }
  }

  button {
    width: 100%;
    max-width: 289px;
    margin-top: 80px;
    justify-content: center;
  }
}
