@use '../../../styles/mixins.scss' as *;

.sectionPricingGrid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 20px;

  @include sm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.cardPricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--rounded-xl);
  border: 1px solid var(--blue);
  padding: 20px;
  height: 251px;

  @include md {
    height: 221px;
  }

  p {
    margin-top: 12px;
  }
}

.specialCard {
  border-color: transparent;
  background-color: var(--light-blue);
  padding: 30px;
  min-width: 503px;
  height: 322px;

  @include lg {
    padding: 20px;
    min-width: auto;
    height: 251px;
  }

  h5 {
    font-weight: 700;
    font-size: 38px;
    line-height: 110%;
  }

  button {
    width: 185px;
    justify-content: center;
  }
}