@use '../../../styles/mixins.scss' as *;

.sectionPricing {
  margin-top: 200px;
  margin-bottom: 40px;

  .sectionPricingGrid {
    margin-top: 60px;

    display: grid;
    grid-template-columns: auto 1fr 1fr;
    column-gap: 20px;
  }

  .cardPricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 30px;
    border: 1px solid var(--blue);
    padding: 20px;
    height: 251px;

    p {
      margin-top: 12px;
    }

    &:first-child {
      padding: 30px;
      border-color: transparent;
      background-color: var(--light-blue);
      min-width: 503px;
      height: 322px;

      h5 {
        font-weight: 700;
        font-size: 38px;
        line-height: 110%;
      }
    }
  }
}