.sectionMoreCases {
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.sectionHelpWrapper, .sectionFeedbackWrapper {
  background-color: var(--light-blue);
}