
.pageContactUs {
  h1 {
    margin-top: 80px;
  }

  .sectionForm {
    margin-top: 40px;
  }

  .contactsSocialWrapper {
    margin-top: 160px;
    margin-bottom: 160px;
  }
}

.contactsSocialWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 40px;
  column-gap: 80px;
}