@use "../../styles/mixins.scss" as *;

.formWrapper {
  background-color: var(--light-blue);
  padding: 90px 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  column-gap: 40px;

  @include lg() {
    padding: 40px 20px;
  }

  header {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      li {
        display: inline-flex;
        align-items: center;
        column-gap: 10px;

        > a {
          display: inherit;
          align-items: inherit;
          column-gap: inherit;
          margin-left: auto;
          margin-right: 25%;
        }
      }
    }

    .icon {
      color: var(--white);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;

    .btn-send {
      display: flex;
      width: 100%;

      &:host-context(button) {
        align-items: center;
      }
    }
  }
}

.modalFormWrapper {
  padding: 90px 100px;
}