@use '../../../styles/mixins.scss' as *;

.sectionPlanet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  > h2 {
    position: absolute;
    text-align: center;
    top: 77px;
    z-index: 1;
  }

  .planet {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 100%;
    }

    div:nth-child(2) img {
      position: relative;
      left: -100%;
    }
  }
}

.sectionMapImg {
  display: grid;
  grid-template-columns: 1fr minmax(360px, 690px);
  column-gap: 44px;
  padding: 100px 0;

  @include md {
    grid-template-columns: 1fr;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 80px;
  }

  img {
    aspect-ratio: 16 / 9;
  }
}