.sectionHelpWrapper {
  background-color: var(--light-blue);
  margin-top: 80px;
}

.sectionFormWrapper {
  padding: 160px 0 60px;
}

.sectionAboutWrapper {
  padding-top: 160px;

  .firstBlock {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    margin-top: 40px;
  }
}

.sectionProposal {
  $gaps: 24px;
  $radius: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $gaps;
  margin-top: 200px;

  .cardProposalArticle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: $gaps;
    padding: 30px;
    background-color: var(--light-blue);
    border-radius: $radius;
    align-items: flex-start;

    header {
      display: flex;
      flex-direction: column;
      row-gap: $gaps;
    }
  }

  .directionsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gaps;
    
    .directionsCardTitle {
      grid-column: 1 / 3;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 146px;
    }

    .directionsCardItem {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      row-gap: 6px;
      min-height: 256px;
    }

    .directionsCardTitle,
    .directionsCardItem {
      border-radius: $radius;
      border: 1px solid var(--blue);
      padding: 24px;
    }
  }
}