@use '../../styles/mixins.scss' as *;

.sectionHeroAdvantages {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 42px;
  border: 1px solid var(--blue);
  border-radius: 30px;
  gap: 20px;
  background-color: var(--white);
  font-weight: 400;
  margin-top: 200px;

  .itemWrapper {
    display: contents;

    .sectionHeroAdvantagesDivider {
      width: 1px;
      height: 92px;
      background-color: var(--blue);
    }

    &:last-child .sectionHeroAdvantagesDivider {
      display: none;
    }
  }

  .sectionHeroAdvantagesItem {
    display: inline-flex;
    flex-direction: column;
    text-align: center;

    h4 {
      text-wrap: nowrap;
    }
  }

  @include rwd(730) {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 1px 1fr;
    height: initial;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 68px;

    .sectionHeroAdvantagesDivider {
      height: 50px;
      align-self: center;
      justify-self: center;
    }

    .sectionHeroAdvantagesDivider:nth-child(4) {
      grid-column: 1 / 4;
      height: 1px;
      width: 100%;
    }
  }

  @include md {
    padding-inline: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}