@use '../../styles/mixins.scss' as *;

.sectionHeroAdvantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  gap: 20px;
  height: 200px;
  border: 1px solid var(--blue);
  border-radius: var(--rounded-xl);
  background-color: var(--white);
  padding-inline: 42px;
  font-weight: 400;

  .itemWrapper {
    flex: 1 0 25%;
    display: contents;
  }

  .sectionHeroAdvantagesDivider {
    width: 1px;
    height: 92px;
    background-color: var(--blue);

    &:last-child {
      display: none;
    }
  }

  .sectionHeroAdvantagesItem {
    display: inline-flex;
    flex-direction: column;
    text-align: center;

    h5 {
      font-weight: 400;
    }

    strong {
      display: block;
    }
  }

  @include rwd(730) {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 1px 1fr;
    height: initial;
    padding-top: 30px;
    padding-bottom: 30px;

    .sectionHeroAdvantagesDivider {
      height: 50px;
      align-self: center;
      justify-self: center;
    }

    .sectionHeroAdvantagesDivider:nth-child(4) {
      grid-column: 1 / 4;
      height: 1px;
      width: 100%;
    }
  }

  @include md {
    padding-inline: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}