@use '../styles/mixins.scss' as *;

.page {
  margin-top: 80px;

  @include md {
    margin-top: 60px;
  }

  @include sm {
    margin-top: 40px;
  }
}

.firstSlide {
  > div {
    > div:first-child article {
      background-color: var(--light-blue);
      border-color: transparent;
    }
  }
}