@use '../../../styles/mixins.scss' as *;

.sectionWrapper {
  position: relative;
  min-height: 628px;

  @include md {
    min-height: auto;
  }

  @include sm {
    overflow: hidden;
  }

  .animateBg {
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

.sectionHero {
  padding-top: 100px;
  padding-bottom: 100px;
  
  @include lg {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 798px;

    @include md {
      gap: 16px;
      max-width: 476px;
    }

    h1 {
      font-size: 60px;
      line-height: 66px;

      @include md {
        font-size: 38px;
        line-height: 38px;
      }
    }

    .p {
      font-size: 20px;
      line-height: 28px;

      @include md {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .sectionHeroActions {
    display: flex;
    gap: 12px;
    margin-top: 70px;

    @include md() {
      margin-top: 44px;
    }

    @include sm {
      justify-content: space-between;

      button {
        width: 100%;

        span {
          width: inherit;
          text-align: center;
        }
      }
    }
  }
}