@use '../../../styles/mixins.scss' as *;

.sectionPricingGrid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 20px;

  @include sm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.cardPricing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--rounded-xl);
  border: 1px solid var(--blue);
  padding: 20px;
  height: 251px;

  &:not(.specialCard) {
    button, a {
      padding: 0;
    }
  }

  @include md {
    height: 221px;
  }

  p {
    margin-top: 12px;
  }
}

.specialCard {
  position: relative;
  border-color: transparent;
  background-color: var(--light-blue);
  padding: 30px;
  min-width: 503px;
  height: 322px;
  z-index: 1;

  @include lg {
    padding: 20px;
    min-width: auto;
    height: 251px;
  }

  h5 {
    font-weight: 700;
    font-size: 38px;
    line-height: 110%;

    @include lg {
      font-size: clamp(18px, -5.272rem + 12.027vw, 24px);
    }
  }

  button {
    width: 185px;
    justify-content: center;
  }

  img {
    max-width: 205px;
    max-height: 195px;
    z-index: -1;
    inset: initial !important;
    bottom: 30px !important;
    right: 30px !important;

    @include lg {
      bottom: 20px !important;
      right: 20px !important;
    }
  }
}