@use '../../../../styles/mixins.scss' as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-top: 60px;

  .item {
    --item-pt: 24px;
    --item-title-pt: 10px;
    --item-title-size: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid var(--gray);
    border-radius: 30px;
    padding: var(--item-pt) 40px;
    min-height: 176px;

    .title {
      $calcOut: calc(var(--item-title-size) / 2 + var(--item-pt) + var(--item-title-pt));

      background-color: var(--white);
      padding: var(--item-title-pt);
      color: var(--blue);
      margin-top: calc($calcOut * -1);

      h5 {
        font-weight: 900;
        font-size: var(--item-title-size);
        line-height: 1;
      }

      user-select: none;
    }

    .text {
      font-weight: 500;
      font-size: 24px;
      line-height: 130%;
      color: var(--dark-gray);
    }
  }
}