@use '../styles/mixins.scss' as *;

.page {
  display: flex;
  flex-direction: column;
  row-gap: 160px;

  margin-top: 80px;

  @include lg {
    margin-top: 60px;
  }

  @include md {
    margin-top: 50px;
  }
}