@use '../../../styles/mixins.scss' as *;

.sectionOurService {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  header {
    display: inline-flex;
    align-items: flex-start;
  }

  .sectionOurServiceGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }

  .servicesCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--light-blue);
    border-radius: var(--rounded-xl);
    padding: 30px;
    height: fit-content;

    .servicesCardTitle {
      display: inline-flex;
      column-gap: 12px;
    }

    .servicesCardDescription {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      // move to typography markdown style
      ul {
        list-style: disc;
        padding-left: 20px;
      }
    }

    button {
      margin-top: 40px;
    }
  }
}