@use '../../styles/mixins.scss' as *;

.wrapper {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 744px;
  margin-inline: 50px;

  background-color: var(--light-blue);
  border-radius: var(--rounded-xl);
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 44px;
  z-index: 9999;

  @include md {
    max-width: 100%;
    border-radius: 0;
    bottom: 0;
    margin-inline: 0;
  }

  @include sm {
    flex-direction: column;
    row-gap: 24px;

    button {
      width: 100%;
      justify-content: center;
    }
  }

  .message {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    a {
      color: var(--blue);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    text-wrap: nowrap;
  }
}
