@use '../../../styles/mixins.scss' as *;

.sectionHowWeWork {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding: 100px 0;

  .treeGrid {
    display: grid;
    width: 100%;

    .treeGridItem {
      position: relative;
      display: grid;
    }

    .treeGridWrapper {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background-color: var(--blue);
        z-index: -1;
      }
    }

    .treeGridCount {
      display: flex;
      height: fit-content;

      background-color: var(--white);
      padding: 10px;
      
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 57px;
        height: 57px;
        background-color: var(--blue);
        border-radius: 50%;
        color: var(--white);
      }
    }
  }

  @mixin vertical() {
    grid-template-columns: 1fr 100px 1fr;

    .treeGridItem {
      grid-template-rows: auto 24px 1fr;

      hr {
        grid-column: 1 / 3;
        grid-row: 2;
        height: 1px;
        align-self: center;
      }

      &:nth-child(odd of div.treeGridItem) {
        grid-template-columns: 1fr 209px;
        grid-column: 1;
        .title {
          grid-column: 2;
        }
  
        .text {
          grid-column: 2;
        }
      }
      &:nth-child(even of div.treeGridItem) {
        grid-template-columns: 1fr 209px;
        grid-column: 3;
        .title {
          grid-column: 1;
        }
  
        .text {
          grid-column: 1;
        }
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i * 4 - 1}) {
          grid-row: $i * 2;
        }
      }
    }

    .treeGridWrapper {
      grid-column: 2;
      height: 100%;
      min-height: 101px;
      height: 190px;

      &:last-child {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        min-height: initial;

        .treeGridCount {
          padding-bottom: 0;
        }
      }

      &::before {
        left: 50%;
        width: 1px;
        height: 100%;
      }
    }

    &.fitContent .treeGridWrapper {
      height: initial;
    }

    .treeGridCount {
      align-items: flex-start;
      justify-content: center;
    }
  }
  @mixin horizontal() {
    grid-template-rows: 1fr auto 1fr;

    .treeGridItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;

      .text {
        max-width: 190px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: var(--dark-gray);
      }

      @for $i from 1 through 6 {
        &:nth-child(#{$i * 4 - 1}) {
          grid-column: $i * 2;
          grid-row: 3;
        }
      }
      @for $i from 1 through 6 {
        &:nth-child(#{$i * 4 - 3}) {
          grid-column: $i * 2 - 1;
          justify-content: flex-end;
        }
      }
    }

    .treeGridWrapper {
      display: flex;
      grid-row: 2;
      width: 100%;

      &:not(:last-child) {
        &::before {
          top: 50%;
          width: 100%;
          height: 1px;
        }
      }
    }
  }

  .vertical {
    @include vertical();
  }

  .horizontal {
    @media screen and (min-width: 768px) {
      @include horizontal();
    }

    @include md() {
      @include vertical();
    }
  }
}