@use '../animation.scss' as *;

.skeletonCard {
  display: flex;
  align-items: center;
}

.skeletonInfo {
  flex: 1;

  div {
    background: linear-gradient(90deg, #e0e0e0, #f0f0f0, #e0e0e0);
    background-size: 200% 100%;
    animation: skeleton-loading 2.65s infinite;
  }
}

.skeletonTitle {
  width: 40%;
  height: 24px;
  background-color: #e0e0e0;
  margin-bottom: 8px;
}

.skeletonText {
  width: 90%;
  height: 16px;
  background-color: #e0e0e0;
  margin-bottom: 8px;

  &.short {
    width: 55%;
  }
}
