@use '../../../styles/mixins.scss' as *;

.firstSection {
  header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 50%;

    @include sm {
      max-width: initial;
    }
  }

  .firstSectionGrid {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .firstSectionItem {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: 1px solid var(--gray);
      padding-top: 20px;
      padding-bottom: 20px;

      @include sm {
        grid-template-columns: 1fr;
        padding-top: 12px;
        padding-bottom: 12px;
      }

      span {
        grid-column: 2;
      }
    }
  }

  .firstSectionFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    border-radius: var(--rounded-xl);
    background-color: var(--light-blue);

    .actions {
      display: flex;
      align-self: flex-start;
      justify-content: flex-end;
      column-gap: 20px;
      grid-column: 24px;
    }

    @include md {
      grid-template-columns: 1fr;
      gap: 24px;
      margin-top: 20px;

      .actions {
        justify-content: flex-start;
        gap: 12px;

        button {
          width: 100%;
          
          span {
            justify-self: center;
          }
        }
      }
    }
  }
}