@use '../styles/mixins.scss' as *;

.customGapHero {
  display: flex;
  flex-direction: column;
  row-gap: 80px;

  @include md {
    row-gap: 40px;
  }
  @include md {
    row-gap: 32px;
  }
}

.sectionMoreCases {
  header {
    display: flex;
    justify-content: space-between;
  }
}

.sectionFeedbackWrapper {
  background-color: var(--light-blue);
}